<!doctype html>
<html lang="en">
  <head>
<!--    <script> window.location="/shop";</script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Welcome To Food Mania</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Welcome To Food Mania</h1>
      <p class="lead">This is a simple project for online food order system.</p>

        <br><h4><a href="/shop">Welcome To Food Manina</a></h4>
        <h6>Online Food Delivery System is a system which will help restaurant to optimized and
control over their restaurants. For the waiters, it is making life easier because they don’t have
to go kitchen and give the orders to chef easily. For the management point of view, the
manager will able to control the restaurant by having all the reports to hand and able to see
the records of each employees and orders. This website helps the restaurants to do all
functionalities more accurately and enhances the spend of all the tasks. Online Food Delivery
System reduces manual works and improves efficiency of restaurant. The online food
delivery system set up menu online and the customers easily places the order with a simple
mouse click. Also with a food menu online you can easily track the orders, maintain
customer's database and improve your food delivery service. This system allows the user to
select the desired food items from the displayed menu. The user orders the food items. The
payment can be made online or pay-on-delivery system. The user’s details are maintained
confidential because it maintains a separate account for each user. An id and password is
provided for each user. Therefore, it provides a more secured ordering</h6>
        <br><h4><a href="/admin">Welcome Admin Page</a></h4>
        <h6>After reviewing our work, the conclusion is that after many adjustments the system
works. As good as it is now, there can still be made many adjustments/improvements.
However in the time was given that two persons can work on this project, the overall results
are satisfactory in our opinion. The report covers the entire course of the project and results
are there were needed. The first weeks the work progressed slower than expected, then the
pace was increased to finish on time.
For customers, web-based ordering system can make it easier to order food without
having to visit the restaurants so that customers can save time and costs. For admin, they can
serve customers optimally in ordering their food and making the order report easier. Payment
methods can also be done by customers through a system that is available on the web to
facilitate customers in paying for their orders.</h6>
        <br><h4><a href="/admin">Welcome Employee Page</a></h4>
        <h6>Employee information helps organisations to keep critical details about every employee in a single accessible place.
            Many essential activities such as payroll, health insurance and taxation utilise the employees' information from the same database.
            Knowing about the information form and its importance can help you prepare a concise and practical information form and efficiently manage the employee data you collect.
            In this article, we discuss what an employee information form is,
            explore some essential details to include and look at a few frequently asked questions.</h6>

      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>